header{
	text-align: center;
	font-size: 300%;
	color: goldenrod;
}

.nav-link{
	color: white!important;
	margin-left: 10px;
}

.nav-link:hover{
	color: goldenrod!important;
}

.navbar-brand{
	margin-left: 10px;
}
